<a href="https://colab.research.google.com/github/haleycasey17/BTE320/blob/main/Lectures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LECTURE 2
AREA/INPUT

In [ ]:
# Calculate and display area of square
side = 5 # Set value for side
area = side ** 2 # Calculate area
print("Area =", area, "sq ft") # Display area
print("Goodbye!")

Area = 25 sq ft
Goodbye!

In [ ]:
print("Area =", area, "sq. ft", end="---")
print("Goodbye!")

Area = 25 sq. ft---Goodbye!

In [ ]:
print("Area =", area, "sq. ft", sep="")
print("Goodbye!")

Area =25sq. ft
Goodbye!

In [ ]:
print("Area = {} sq. ft".format(area))

Area = 25 sq. ft

In [ ]:
print(f"Area = {area} sq. ft")

Area = 25 sq. ft

In [ ]:
name = input("Please provide your name: ")
print('Hi', name)
type(name)

Please provide your name: Bob
Hi Bob

str

In [ ]:
age = int(input("Please provide your age: "))
print(age + 10)
type(age)

Please provide your age: 19
29

int

# If Condition

In [ ]:
if condition:
  expr
  expr

In [ ]:
fico = int(input('Please provide your FICO score: '))

if fico >= 700:
  print('Loan granted!')
else:
  print('Loan denied!')

Please provide your FICO score: 500
Loan denied!

In [ ]:
fico = int(input('Please provide your FICO score: '))

if fico >= 700:
  print('Loan granted!')
elif fico < 700:
  print('Loan denied!')

Please provide your FICO score: 17
Loan denied!

In [ ]:
num = float(input('Please enter your number grade (0-100): '))

if num >= 97:
  print('A+')
elif num >= 93:
  print('A')
elif num >= 90:
  print('A-')
elif num >= 87:
  print('B+')
elif num >= 83:
  print('B')
elif num >= 80:
  print('B-')

Please enter your number grade (0-100): 87
B+

In [ ]:
customer_type = input('Please provide your customer type (N: new/E: existing): ')
deposit = float(input('Please provide your deposit amount ($): '))

if customer_type == "E":
  if deposit >= 10_000:
    ir = 3.5 # % value
  elif deposit >= 1_000:
    ir = 3.25
  else:
    ir = 3.0
else:
  ir = 4.0

total = (1+ir/100) * deposit
print(f'Total deposit: {total}$')

Please provide your customer type (N: new/E: existing): E
Please provide your deposit amount ($): 5000
Total deposit: 5162.5$

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset = True

if reset:
  clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)

for i in range(4): # Will run it 4 times
  forward(100)
  left(90)

for i in range(0, 4, 1):
  forward(100)
  left(90)

forward(100)
left(90)

forward(100)
left(90)

forward(100)
left(90)

end_fill()
forward(100)

In [ ]:
for number in range(2,11,2):
  print(number, end=" ")

2 4 6 8 10

In [ ]:
for number in range(1, 11):
  if number % 2 == 0:
    print(number, end=" ")

2 4 6 8 10

In [ ]:
num = 1

while num < 5:
  print(num, num ** 2, num ** 3)
  num = num + 1

1 1 1
2 4 8
3 9 27
4 16 64

In [ ]:
for num in range(1, 5):
  print(num, num ** 2, num ** 3)

1 1 1
2 4 8
3 9 27
4 16 64

In [ ]:
s = input('Enter yes or no: ')

while s == 'yes':
  print('OK!')
  s = input('Enter yes or no: ')

Enter yes or no: yes
OK!
Enter yes or no: yes
OK!
Enter yes or no: yes
OK!
Enter yes or no: yes
OK!
Enter yes or no: no

In [ ]:
print('Ad$\t', 'Profit')
adMoney = 0
while adMoney < 201:
  revenue = (20 + 2 * round(adMoney ** 0.5)) * 10
  costs = 200 + adMoney
  profit = revenue - costs
  print(adMoney, '\t', profit)
  adMoney = adMoney + 25

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
num = 9

while num > 0:
  num = num - 1
  if num == 5:
    break
  print(num)
print('End.')

8
7
6
End.

In [ ]:
num = 9

while num > 0:
  num = num - 1
  if num == 5:
    continue
  print(num)
print('End.')

8
7
6
4
3
2
1
0
End.

In [ ]:
for num in range(1,11):
  if num % 2 != 0:
    continue
  print(num, end=' ')

2 4 6 8 10

In [ ]:
s1 = "This is a string,"
s2 = " and this is a string also"

In [ ]:
s1 + s2

'This is a string, and this is a string also'

In [ ]:
?len

In [ ]:
len(s2)

26

In [ ]:
s1[9]

' '

In [ ]:
s1[0:4] == s1[:4]

True

In [ ]:
s2[22:len(s2)]

'also'

In [ ]:
s1[:] == s1[0:len(s1)]

True

In [ ]:
s = 'qwertyuiopasdfghjklzxcvbnm'

s[1:len(s)-1]
s[1:-1]

'wertyuiopasdfghjklzxcvbn'

In [ ]:
s = ''
len(s)

0

In [ ]:
s = 'This is a string'
print(s[15], s[len(s) - 1], s[-1])

g g g

In [ ]:
s = ''
for _ in range(5):
  s += 'a'
print(s)

aaaaa

In [ ]:
h = 'This is a string'

for idx in range(len(h)):
  print(h[idx])

T
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
for char in h:
  print(char)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
s = "abcdufgh"
for index in range(len(s)):
  if s[index] == 'i' or s[index] == 'u':
    print("There is an i or u")
for char in s:
  if char == 'i' or char == 'u':
    print("There is an i or u")

There is an i or u
There is an i or u

In [ ]:
h = "This is a string"
w = "Today is Friday"

for c in h:
  if 'is' in h:
    print('Found')
    break

Found

Typecasting

In [ ]:
empty = []
pure = [1, 2, 3] #items of the same type is considered "pure"
L = [1, 'two', 3.14, [4,5,6]]

In [ ]:
2 * pure

[1, 2, 3, 1, 2, 3]

In [ ]:
len(empty), len(pure), len(L)

(0, 3, 4)

In [ ]:
L[2]

3.14

In [ ]:
L[1:3]

['two', 3.14]

In [ ]:
h = "This is a string"

h[2] = 'f' #won't work strings can't be modified

TypeError: 'str' object does not support item assignment

In [ ]:
L = [1, 'two', 3.14, [4,5,6]]

L[2] = h
L

[1, 'two', 'This is a string', [4, 5, 6]]

In [ ]:
pure = [1,2,3]

pure.append(4)
pure

[1, 2, 3, 4]

In [ ]:
pure = [1,2,3]

pure.extend([4,5,6])
pure

[1, 2, 3, 4, 5, 6]

In [ ]:
L = [1, 2, 3]
L.insert(1, 5)
L

[1, 5, 2, 3]

In [ ]:
T = [1, 'two', 3.14, [4,5,6]]
T.pop(1)
T

[1, 3.14, [4, 5, 6]]

In [ ]:
J = [1, 'two', 3.14, [4,5,6]]
J.insert(3, 5)
J

[1, 'two', 3.14, 5, [4, 5, 6]]

In [ ]:
#removes the first occurrence of this item

T = [1, 'two', 3.14, [4,5,6]]
T.remove(3.14)
T

[1, 'two', [4, 5, 6]]

In [ ]:
L = [5,8,1,0,2,4]
L.sort()  #ascending order
L

L.sort(reverse=True)  #descending order
L

[8, 5, 4, 2, 1, 0]

In [ ]:
#increasing size of list
L.append()
L.extend()
L.insert()
#decreasing size of list
L.pop()
L.remove()

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)

L1

[2, 3, 4]

In [ ]:
emptyL = []
emptyT = ()

In [ ]:
emptyL + [4]

[4]

In [ ]:
emptyT + (4,)

(4,)

In [ ]:
grades = {
    'John': 93,
    'Jane': 95,
    'Bob': 91,
    'Alice': 91
}

In [ ]:
len(grades)

4

In [ ]:
grades['Bob']

91

In [ ]:
grades['Jane'] = 100
grades

{'John': 93, 'Jane': 100, 'Bob': 91, 'Alice': 91, 'Bryan': 100}

In [ ]:
del(grades['Bryan'])
grades

{'John': 93, 'Jane': 100, 'Bob': 91, 'Alice': 91}

In [ ]:
for k in grades.keys():
  print(k)

John
Jane
Bob
Alice

In [ ]:
for v in grades.values():
  print(v)

93
100
91
91

In [ ]:
for k, v in grades.items():
  print(k, v)

John 93
Jane 100
Bob 91
Alice 91

In [ ]:
db = {
  'example1@miami.edu': {
      'First': 'John',
      'Last': 'Doe',
      'Phone #': '(555) 123-4567'
    },
  'example2@miami.edu': {
      'First': 'Jane',
      'Last': 'Doe',
      'Phone #': '(555) 456-7890'
    }
}

In [ ]:
for k in db.keys():
  print(k, db[k]['Phone #'])

example1@miami.edu (555) 123-4567
example2@miami.edu (555) 456-7890

In [ ]:
s1 = {1,2,3,4,4}
s2 = {1,2,5,6}
s1

{1, 2, 3, 4}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [ ]:
s1.intersection(s2)

{1, 2}

In [ ]:
s1 & s2

{1, 2}

In [ ]:
s1.difference(s2)

{3, 4}

In [ ]:
s1 - s2

{3, 4}

In [ ]:
s1.symmetric_difference(s2)

{3, 4, 5, 6}

In [ ]:
odds = []

for num in range(1,10,2):
  odds.append(num)
odds

[1, 3, 5, 7, 9]

In [ ]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
L = [item for item in sequence if condition]

In [ ]:
odds = [num for num in range(1,10,2)]
odds

[1, 3, 5, 7, 9]

In [ ]:
def adder(input1, input2):
  output = input1 + input2
  return output

In [ ]:
x = 2
y = 1.5

z = adder(x, y)
print(z)

3.5

In [ ]:
def range_check(item, sequence):
  print('Inside range_check()')
  if item in sequence:
    return True
  else:
    return False

print('Program starts...')
c = range_check(2, (1,2,3))
print(c)

Program starts...
Inside range_check()
True

In [ ]:
def reverse_name(first, last, reverse=True):
  if reverse:
    print(f'{last}, {first}')
  else:
    print(first, last)

reverse_name('John', 'Doe')

Doe, John

Global scope: First thing the interpreter sees is f(). It skips all of the indented lines and goes straight to x=3, y=2, and z=f(x). Then it uses those and goes back to the defined function. Then executes the last part of the code.

*Global*
f(x) |
x    | 3
y    | 2
z    |

*Local*
y    | 1
x    | 4

x = 4
z = 4
x = 3
y = 2

In [ ]:
def f(x): #name x used as formal parameter
  y=1
  x=x+y
  print('x =', x)
  return x

x = 3
y = 2
z = f(x) #value of x used as actual parameter
print('z =', z)
print('x =', x)
print('y =', y)

x = 4
z = 4
x = 3
y = 2

*Global*   
| f() = |  
| x = 3 |   
| z = g() |

*Local F*  
| g() = |   
| h() = |   
| x = 4 |   

*Local H*     
| z = 4 |

*Local G*   
| x = 'abc' |

z is g() so.  
*Local G* again  
| x = 'abc' |

In [ ]:
def f(x):
  def g():
      x = 'abc'
      print('x =', x)
  def h():
      z = x
      print('z =', z)
  x = x + 1
  print('x =', x)
  h()
  g()
  print('x =', x)

  return g

x = 3
z = f(x)
print('x =', x)
print('z =', z)
z()

x = 4
z = 4
x = abc
x = 4
x = 3
z = <function f.<locals>.g at 0x7d405e6c7380>
x = abc

In [ ]:
def summation(n):
  total = 0
  for i in range(1, n+1):
    total = total + i
  return total
summation(100)

5050

In [ ]:
def summationR(n):
  if n == 1:
    return 1
  else:
    return n + summationR(n-1)
summationR(100)

5050

In [ ]:
def factR(n):
  if n == 1: # base case: the problem is at a trivial solution step
    return 1
  else:      # inductive, a.k.a. recursive case: the function needs to call itself
    return n * factR(n-1)
factR(5)

120

In [ ]:
def fibR(n):
  if n > 1:
    return fibR(n-1) + fibR(n-2)
  else:
    return 1
fibR(5)

8

In [ ]:
def linear_search(arr, target):
  for item in arr:
    if item == target:
      return item

  return -1
linear_search([1,4,2,6], 8)

-1

In [ ]:
def bubble_sort(L):
  for i in range(len(L)):
    for j in range(len(L) - i - 1):
      if L[i] > L[j]:
        L[i], L[j] = L[j], L[i]

  return L

In [ ]:
def binary_search(arr, target):
  low, high = 0, len(arr) - 1
  while low <= high:
    mid = (low + high) // 2
    if arr[mid] == target:
      return arr[mid]
    elif arr[mid] < target:
      low = mid + 1
    else:
      low = high - 1
  return -1

%timeit binary_search([1,2,3,4,5], 5)

1.04 s  259 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [ ]:
def quickSort(arr):
  if len(arr) < 2:
    return arr
  else:
    low, equal, high = [], [], []

    pivot = arr[len(arr) // 2]

    for element in arr:
      if element < pivot:
        low.append(element)
      elif element > pivot:
        high.append(element)
      else:
        equal.append(element)

    return quickSort(low) + equal + quickSort(high)

quickSort([8,2,6,4,5])

[2, 4, 5, 6, 8]

In [ ]:
def f(x,y):
  try:
    z = x + y
    w = x / y
    print(z, w)
  except ZeroDivisionError:
    print('Division by zero not allowed')
  except TypeError:
    print('Imcompatible types')
  except:
    print('Unknown errors')

f('1', 3)

Imcompatible types

In [ ]:
def getValues(n):
  L = []
  for i in range(n):
    weight = float(input('Enter weight: '))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The average weight is: {sum(alist[2:]) / len(alist[2:])}')
  except ZeroDivisionError:
    print('List alist is empty or has a length less than 2')
  except:
    print('Unknown error')

  if __name__ == '__main__':
    try:
      n = int(input('Enter size of list: '))
      alist = getValues(n)
      calcAverage(alist)
    except ValueError:
      print('Cannot be casted as int()')

In [13]:
class Car:
  def __init__(self, n_doors, allwd, make, year, hp):
    self.n_doors = n_doors
    self.allwd = allwd
    self.make = make
    self.year = year
    self.hp = hp
    self.n_wheels = 4
    self.engine_running = False
    self.current_speed = 0

  def __str__(self):
    return (f'Make: {self.make}\nYear: {self.year}')

  def start_engine(self):
    self.engine_running = True
    print('Engine started.')

  def stop_engine(self):
    self.engine_running = False

  def accelerate(self, newspeed):
    if self.engine_running == True:
      self.current_speed += newspeed
      print(f'Current speed: {self.current_speed} m/h.')
    else:
      print('Start engine first.')

  def brake(self, decrease_speed):
    self.current_speed -= max(0, self.current_speed - decrease_speed)
    print(f'Current speed is {self.current_speed}')

In [8]:
c = Car(4, True, 'Ford', 2020, 500)

In [9]:
c.start_engine()
c.engine_running

Engine started.

True

In [10]:
c.current_speed

0

In [11]:
c.start_engine()
c.accelerate(15)

Engine started.
Current speed: 15 m/h.

In [12]:
c.brake(20)

Current speed is 15